QMainWindow {
  background-color: qlineargradient(x1:0 ,y1:0, x2:1 ,y2:1, stop:0 rgb(0,0,0), stop:1 #1b6b3b); }

	
QPushButton {
  border-radius: 15px;
  border-style: outset;
  border-width: 4px;
  border-color: #097d37;
  color: #eff0f1;
  font: bold 17px;
  font-family:"Lucida Console";
  min-width: 7em;
  padding: 6px;
	 }

QPushButton:hover {
  border-width: 2px;
  border-color: #0be663;
  background-color:#1d522a ;
  color: #57fa98; }

QPushButton:pressed {
  background-color:#0be663 ;
  border-color: #097d37;
  border-style: inset;
   }



QLabel {
  qproperty-alignment:AlignCenter;
  color: #eff0f1;
  font: bold 17px;
  font-family:"Lucida Console";
  
   }
   
QInputDialog {
  background-color: #31363b;
 }
QFrame#frame{
	border-radius: 15px;
  	border-style: outset;
  	border-width: 4px;
  	border-color: #097d37;
}
QFrame#frameRight{
	border-radius: 50px;
  	border-style: outset;
  	border-width: 4px;
  	border-color: #097d37;
}
QLCDNumber {
  color: #eff0f1;
}
  
QLabel#lb_border {
  background-color: rgb(40,45,50);
  border-style: solid; border-width: 2px; border-color: rgb(60,213,200);
  border-radius: 10px;
  border-style: outset;
}

 
  
